.navbar{
   width: 100%;
   padding: 20px 6%;
   display: flex;
   justify-content: space-between;
   position: fixed;
   font-size: 14px;
   color: #e5e5e5;
   background-image: linear-gradient(180deg, #0f172a 10%, transparent);
   z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 90px;
}

.navbar-left img{
    width: 90px;
}

.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar-left ul li {
    cursor: pointer;
}

.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}


.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 35px;
}

.nevbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #0f172a;
    padding: 10px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;

}

.nevbar-profile:hover .dropdown{
    display: block;
    
}